<div>
    <button type="button" id="AddChanel" class="layui-btn layui-btn-normal">添加通道</button>
    <table class="layui-table" lay-skin="line" style="width: 100%">
        <thead>
            <tr>
                <th>通道名称</th>
                <th>服务状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>贤心</td>
                <td>2016-11-29</td>
                <td>人生就像是一场修行</td>
                <td>人生就像是一场修行</td>
            </tr>
            <tr>
                <td>许闲心</td>
                <td>2016-11-28</td>
                <td>2016-11-28</td>
                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            </tr>
            <tr>
                <td>许闲心</td>
                <td>2016-11-28</td>
                <td>2016-11-28</td>
                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            </tr>
        </tbody>
    </table>
    <form class="layui-form layer-div">
        <div class="layui-form-item">
            <label class="layui-form-label">通道名称</label>
            <div class="layui-input-block">
                <input type="text" name="chanelName"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">通道名称用于标示通道用途，或表示应用名称</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道类型</label>
            <div class="layui-input-block">
                <input type="radio" name="chanelType" value="单用户通道" title="单用户通道">
                <input type="radio" name="chanelType" value="多用户通道" title="多用户通道" checked>
                <div class="layui-form-mid layui-word-aux">单用户通道仅能给绑定的用户发消息<br>多用户通道可请求特定关注二维码用于多用户订阅</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回调地址</label>
            <div class="layui-input-block">
                <input type="text" name="url"  lay-verify="required" placeholder="请输入回调地址 https://example.com/example.jsp" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">用户扫码后跳转的链接(会携带用户相关参数)</div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">通道说明</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入通道说明" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" id="submit" lay-submit lay-filter="chanelData">保存</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['element','jquery','layer','form'],function(){
        let element = layui.element,$ = layui.$;
        let form = layui.form;

        $('#AddChanel').on('click', function () {
            //页面层
            layer.open({
                type: 1,
                title: '添加通道',
                area: ['600px', 'auto'], //宽高
                content: $('.layer-div'),
                btn: ['保存', '取消'],
                btnAlign: 'c',
                yes: function (index) {
                    $('#submit').click();
                }
            });
        });
        //事件监听
        form.on('submit(chanelData)', function(data){
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>