/* ===========
	工具样式
	author: maypu
   =========== */
.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}
/* ==============
	自定义页面样式
   ============== */
html,body{
    height: 100%;
}
body{
    /*font-size: 1.2rem;*/
    /*line-height: 1.5;*/
    overflow-x: hidden;
    overflow-y: auto;
    /* background: #f2f2f2; */
}
.banner{
    width: 100%;
}
.header-tittle{
    /*padding-top: 15px;*/
    position: absolute;
    left: 0px;
    top: 20px;
    height: 26px;
}
.user-avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}
.backimage{
    background: url('../images/background.jpg') repeat-y;
    width: 100%;
    height: 100%;
}
.footer{
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.layer-div{
    display: none;
    padding: 20px 20px 20px 0px;
}
