<div class="markdown-body">
    <div id="md_contain"></div>

    <div id="">
        <p>快速接入</p>
        <p>
            <code>
                https://epusher.ebans.net/api/send/?clint_id=通道ID&title=测试消息&content=测试内容
            </code>
        </p>
        <p>登录后显示具体ID，可直接复制到浏览器访问</p>
    </div>
</div>

<script>
    layui.use(['element','jquery','layer'],function(){
        element = layui.element,$ = layui.$;

        $.get('./parse',{},function (data) {
            $('#md_contain').html(data);
            $('.backimage').height($('.layui-card').height()+50);
        });

        $('#login').on('click', function () {

            //iframe层
            layer.open({
                type: 2,
                title: '登录',
                shadeClose: true,
                shade: 0.8,
                area: ['400px', '400px'],
                content: './weixin/qrcode' //iframe的url
            });
        });

    });

</script>