<style>
    #newChanel {
        color: #2D93CA;
    }
</style>
<div class="layui-card">
    <div class="layui-card-body layui-elem-quote layui-bg-orange">
        <ul>
            <li>1、测试消息只能选择单用户通道进行测试</li>
            <li>2、测试消息不会在消息日志中查询出来</li>
            <li>3、测试消息有更严格的频率限制，仅用作消息格式与服务联通测试</li>
        </ul>
    </div>
</div>
<div>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">测试通道</label>
            <div class="layui-input-block">
                <select name="chanel" lay-verify="required" lay-search>
                    <option value=""></option>
                    <optgroup label="单用户通道">
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                    </optgroup>
                    <optgroup label="多用户通道">
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </optgroup>
                </select>
                <div class="layui-form-mid layui-word-aux">选择发送用户所关联的通道（<a id="newChanel" href="./chanel">新建通道</a>）</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发送用户</label>
            <div class="layui-input-block">
                <select name="user" lay-verify="required" lay-search>
                    <option value=""></option>
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                    <option value="2">广州</option>
                    <option value="3">深圳</option>
                    <option value="4">杭州</option>
                </select>
                <div class="layui-form-mid layui-word-aux">选择需要发送消息的用户</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试标题</label>
            <div class="layui-input-block">
                <input type="text" name="url"  lay-verify="required|tittle" placeholder="测试标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">测试内容</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入测试内容" lay-verify="description" class="layui-textarea"></textarea>
                <div class="layui-form-mid layui-word-aux">测试内容支持markdown格式</div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" id="submit" lay-submit lay-filter="chanelData">发送</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['element','jquery','layer','form'],function(){
        let element = layui.element,$ = layui.$;
        let form = layui.form;

        form.verify({
            tittle: function (value) {
                if (value.length > 15) {
                    return '测试标题不超过15个字符啊';
                }
            },
            description: function (value) {
                if (value.length > 1000) {
                    return '测试内容不超过1000个字符';
                }
            }
        });

        //事件监听
        form.on('submit(chanelData)', function(data){
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>